@use "src/shared/ui/kit";

.input {
  flex: 0 0 90%;
  min-height: 40px;
  max-height: 150px;
  width: 100%;
  border: none;
  resize: none;
  outline: none;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: kit.$colors-background;
    border-radius: kit.$base-radius;
    overflow: hidden;
    box-shadow: kit.$base-shadow;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: kit.$colors-primary;
    border: none;
    border-radius: kit.$radius-round;
    transition: kit.$base-transition;
    outline: none;

    &:hover {
      background: kit.$colors-primary-hover;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
